<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>NY Times Article Scraper</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col">
            <h1 class="mb-4 mt-4">NY Times Article Scraper</h1>
            <a href="/" class="btn btn-primary">home</a>
            <button class="btn btn-primary" id="scrape">scrape articles</button>
            <a href="/saved" class="btn btn-primary">view saved articles</a>
        </div>
	</div>
</div>
{{{ body }}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="app.js"></script>


</body>
</html>